
/* CSS BEGINS */
* {
    font-family: futura;
    list-style-type: none;
}
body {
    margin: 0 auto;
    max-width: 1200px;

}
#nav {
    margin: 0 auto;
    padding: 0;
}
header nav ul li {
    display: inline;
    list-style-type: none;
}
header nav a {
    text-decoration: none;
    float: right;
    transition: .5s;
}
header nav a:link,
header nav a:visited {
    color: white;
    padding: 1em 1em;
}
header nav a:hover,
header nav a:focus {

    color: rgb(216, 216, 216);
}

header nav {
    background-color: #F397B0;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-family: futura;
    font-size: 0.9rem;
    
}

.menu {
    width: 100%;
    padding: 0;
    max-width: 1200px;
}
.logo-block {
    width: 100px;
    float: left;
    padding-left: 20px;
    max-width: 1200px;
}
.keep {
    width: 120px;
    float: right;
    padding-top: 10px;
    padding-right: 30px;
}
/* top bar & footer bars allow for stretched nav bar while having a max width on the body tag */
.top-bar {
    background-color: #F397B0;
    position: absolute;
    height: 77.5px;
    width: 100%;
    margin: 0 auto;
    z-index: -1;
    left: 0px;
}
.footer-bar {
    background-color: #404040;
    position: absolute;
    height: 171.5px;
    width: 100%;
    margin: 0 auto;
    z-index: -1;
    left: 0px;
}
.footer-bottom-bar {
    background-color: #2d2d2d;
    position: absolute;
    height: 25px;
    width: 100%;
    margin: 0 auto;
    z-index: -1;
    left: 0px;
}

/* Hides Skip-Links */
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .skip-links a{
    position: absolute;
    top: -3em;
    background-color: black;
    color:white;
    padding: .5em 1em;
    font-weight: bold;
  }
/* Home Page */
/* Spacer to create background space without using margin, so the background image still applies */
.spacer {
    height: 30px;
}
.bg-image {
    width: 100%;
    background-image: url("../images/bakery.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 1200px;
}

/* Promo */
.promo {
    margin: 0 auto;
    background-color: #FDFFD5;
    border-radius: 25px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: 1fr 1fr;
}
.bakery-crop {
    border-radius: 10px;
}

.promo-text{
    padding: 40px;
    max-width: 500px;
}

.promo h2 {
    color: #75D9D2;
    font-size: 0.8rem;
}
.promo h1 {
    color: #F397B0;
    font-size: 3.1rem;
    margin-top: 0px;
}
.blue-star {
    color: #75D9D2;
}
.grey-star {
    color: #afafaf;
}

.eyes-logo {
    width: 50px;
    animation: rotate 1.5s infinite;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
.order {
    border-radius: 5px;
    color: white;
    background-color: #2d2d2d;
    border: none;
    padding: 4px 25px;
}
.explore {
    border-radius: 5px;
    color: #2d2d2d;
    background-color: #F397B0;
    border: none;
    padding: 4px 25px;
}

/* Products Section */
.products {
    margin: 25px 100px;
    padding: 25px 0;
}
.products form {
    display: flex;
    padding: 25px;
    background-color: white;
}
.products form input {
    height: 37px;
    background-color: #eeeeee;
    border: none;
    flex: 1;
}
.products button {
    background-color: #2d2d2d;
    color: white;
    border: none;
    padding: 10px 60px;
}
.products h2 {
    color: #75D9D2;
    background-color: #FDFFD5;
    font-size: 1.5rem;
    margin: 0;
    padding: 25px 25px 0 25px;
}
.treats {
    background-color: #FDFFD5;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.treats img {
    height: 75px;
    width: 112.45px;
    border-radius: 8px;
}
.treats h3 {
    font-size: 0.8rem;
    color: #404040;
}
.treats small {
    text-decoration: line-through;
    color: #afafaf;
}
.treat-card {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Footer styling */
footer .wrapper {
    background-color: #404040;
    font-family: futura;
    color: white;
    font-size: 0.6rem;
    display: flex;
    justify-content: space-between;
    line-height: 25px;
    align-items: center;
}
footer li {
    list-style-type: none;
    margin-left: -40px;
}
footer li a {
    text-decoration: none;
}
footer li a:link,
footer li a:visited {
    color: white;

}
footer li a:hover,
footer li a:focus {

    color: rgb(216, 216, 216);
}
/* Styles the contact section "keep me in the loop" in footer */
.footer-contact {
    padding-right: 20px;
}
.footer-contact input {
    background-color: #404040;
    color: white;
    border: white solid 1px;
    width: 275px;

}
.footer-contact button {
    background-color: white;
    color: #404040;
    border: none;
    padding: 1px 57px;
    font-family: futura;
    font-size: 0.7rem;
    margin-right: 15px;
}
.footer-contact span {
   font-size: 1rem;
}
.footer-contact li:nth-child(1) {
    margin-bottom: 3px;
}
.logo-footer {
    width: 100px;
    padding-left: 20px;
    margin-top: -80px;
}
.footer-menu {
    margin-bottom: 0;
}

/* 2nd Footer Section */
.footer-bottom {
    color: #F397B0;
    font-size: 0.6rem;
}
footer .footer-bottom {
    background-color: #2d2d2d;
    width: 100%;
    height: 25px;
}
.footer-bottom small {
    padding-left: 20px;
}
.footer-bottom a {
    text-decoration: none;
    color: #F397B0;
    float: right;
    font-size: 0.6rem;
    padding-right: 6px;
    padding-top: 4px;
}
/* Animation for all buttons */
button {
    transition: all 0.5s;
    cursor: pointer;
}

  
button:hover {
    background-color: white;
    color: #2d2d2d;
  }
  
@media only screen and (max-width: 800px) {
    .treats {
        flex-direction: column;
    }
 
    .products form {
        flex-direction: column;
    }
    .products form input {
        font-size: 2rem;
}
/* Media Query for mobile */
@media only screen and (max-width: 600px) {
    .keep {
      display: none;
    }
    footer .wrapper, .footer-bar {
        display: none;
    }
  }